// 常用间隔与圆角半径
$gap-sm: 8px;
$gap: 12px;

// 页面各主要部分的宽高
$w-side-card: 300px;
$w-max-two-col-post: 520px;
$h-nav: 60px;
$h-footer: 100px;

$scr-w-max: $w-max-two-col-post * 2 + $w-side-card + $gap * 4;
$scr-h-main-content: calc(100dvh - $h-nav - $h-footer - $gap * 2);
