// 屏幕尺寸断点
$xs2: 360px;
$xs: 540px;
$sm: 640px;
$md: 768px;
$lg: 900px;
$xl: 1024px;
$xl2: 1280px;

// 屏幕尺寸媒体查询封装
@mixin screenBelow($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin screenAbove($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin screenBetween($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

// 深色模式查询封装
@mixin onDarkMode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}
