@use 'sass:list';

// 过渡效果封装
@mixin transition($property, $duration: 0.35s, $delay: null) {
  @if list.length($property) == 1 {
    transition: $property $duration $delay;
  } @else {
    transition-property: $property;
    transition-duration: $duration;
    transition-delay: $delay;
  }
}

// flex基本属性封装
@mixin flex($justify: null, $align: null, $flow: null) {
  display: flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: $align;
}

// 行文本溢出省略
@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

// 行内分隔符
@mixin inline-separator(
  $sep,
  $margin-inline: 4px,
  $sep-color: var(--text-grey)
) {
  > *:not(i) {
    display: inline;
    margin-inline-end: $margin-inline;

    &:not(:last-child)::after {
      content: $sep;
      margin-inline-start: $margin-inline;
      color: $sep-color;
    }
  }
}

// 子元素等差延迟过渡效果的父/子元素时间设置
@mixin staggered-transition-time-manage(
  $type,
  $child-count,
  $child-duration,
  $child-delay
) {
  @if $type == 'root' {
    transition-duration: ($child-count - 1) * $child-delay + $child-duration;
  } @else if $type == 'child' {
    @for $i from 1 through $child-count {
      &:nth-child(#{$i}) {
        transition-duration: $child-duration;
        transition-delay: ($i - 1) * $child-delay;
      }
    }
  }
}
