*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

code {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: var(--bg-1);
  font-family:
    'Microsoft Yahei',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  color: var(--text-regular);
  transition:
    background-color 0.5s,
    color 0.5s;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
