// UI
.content-main-page {
  min-height: $scr-h-without-top-nav;
  padding: 24px;
  border-radius: 12px;
  background-color: var(--bg-2);

  .page-title {
    text-align: center;
    pointer-events: none;
  }
}

.screen-mask {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

// 样式
.border-grey {
  border-color: var(--text-grey);
}

.marked-emoji {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  pointer-events: none;
}

// 效果
.shadow-bottom {
  box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.25);
}

.underline-grow {
  --_color: var(--color-grow-line, var(--text-regular));
  background: linear-gradient(var(--_color), var(--_color)) no-repeat right
    bottom;
  background-size: 0 4px;
  @include transition((background-size, color, box-shadow), 0.5s);
  contain: content;

  &:hover {
    background-position-x: left;
    background-size: 100% 4px;
  }
}
