.fade-enter-active,
.fade-leave-active {
  @include transition(opacity);
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-slide-y-enter-active,
.fade-slide-y-leave-active {
  @include transition((opacity, transform));
}
.fade-slide-y-enter-from,
.fade-slide-y-leave-to {
  opacity: 0;
  transform: translateY(20px);
}
